/QuanLiNhanSuWindowForm/x64/*.*
slnx.sqlite
/QuanLiNhanSuWindowForm/.vs/*.*
/QuanLiNhanSuWindowForm/QuanLiNhanVienMFCApplication/x64/Debug/QuanLiNhanVienMFCApplication.exe
/QuanLiNhanSuWindowForm/QuanLiNhanVienMFCApplication/.vs/QuanLiNhanVienMFCApplication/FileContentIndex/118f8804-490e-42fd-ba00-1dd3b0baa757.vsidx
/QuanLiNhanSuWindowForm/QuanLiNhanVienMFCApplication/.vs/QuanLiNhanVienMFCApplication/FileContentIndex/48ef70df-9e3a-4287-b350-b61684f9b39e.vsidx
/QuanLiNhanSuWindowForm/QuanLiNhanVienMFCApplication/.vs/QuanLiNhanVienMFCApplication/FileContentIndex/eafa4bec-8877-42f1-9b8e-bac6bf28e5a9.vsidx
/QuanLiNhanSuWindowForm/QuanLiNhanVienMFCApplication/.vs/QuanLiNhanVienMFCApplication/FileContentIndex/f2018911-7a7e-489d-b0b4-f6572cf90ad1.vsidx
